.hero {
  background-color: #9d1d11;
}

/*.frontPage {
  display: none;
}*/

.section {
  background: #cc0f35;
}

.hr {
  background-color: #cc0f35;
  width: 100%;
  height: 3px;
}

.option {
  display: flex;
  justify-content: center;
}

.section-search {
  background-color: #feecf0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-home {
  background-color: #9d1d11;
  padding-top: 50px;
  padding-bottom: 50px;
}

.results {
  display: none;
}

.section-clear {
  background-color: #9d1d11;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content {
  background-color: #6d140c;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}

h1.data-region {
  font-weight: bold;
}

ul.list {
  box-shadow: none;
  background-color: #feecf0;
  list-style-type: disc;
}

.notification {
  box-shadow: 0 0 3pt 2pt black;
}

.background {
  background-color: #9d1d11;
  border-radius: 5px;
  box-shadow: 0 0 3pt 2pt black;
}

.placeholder-image {
  box-shadow: 0 0 3pt 2pt black;
}

#covid-directions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  background-color: #9d1d11;
  border-radius: 5px;
  box-shadow: 0 0 3pt 2pt black;
}

.content-box {
  background-color: #feecf0;
  height: 100%;
  width: 100%;
  border: 20px solid #feecf0;
  box-shadow: 0 0 3pt 2pt black;
  border-radius: 5px;
}

.navbar-brand {
  background-color: #9d1d11;
}

.navbar-item {
  background-color: #9d1d11;
}

.navbar-item:hover {
  background-color: #9d1d11;
}

.navbar-text {
  color: white;
}

.navbar-item:hover > .navbar-text {
  color: #9d1d11;
}

.navbar-menu {
  background-color: #9d1d11;
}

/* CHART STYLING */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
