*/*:not(path):not(g) {
    color: hsla(210, 100%, 100%, 0.9) !important;
    background: hsla(210, 100%, 50%, 0.5) !important;
    outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  
    box-shadow: none !important;
  }*/
  
.center {
  display: flex;
  justify-content: center;
}

#container {
  /* height: 500px; */
  /* min-width: 310px; */
  /* max-width: 600px; */
  margin: 0 auto; 
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}